block vars
doctype html
html(lang="en" style="overflow-x: hidden; overflow-y: auto; height: 100%;")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        title #{title || "Home"} - Algo
        meta(property="og:title" content=`${title || "Home"} - Algo`)
        meta(property="og:description" content=`${description || "Algo is a web application that supercharges your training for the USACO by randomly generating problems from past contests."}`)
        meta(property="og:image" content="media/algobanner.png")
        meta(property="og:image:type" content="image/png")
        meta(property="og:image:width" content="1280")
        meta(property="og:image:height" content="640")
        meta(name="description" content=`${description || "Algo is a web application that supercharges your training for the USACO by randomly generating problems from past contests."}`)
        // TODO: Add Description, Title
        meta(property="og:type" content="website")
        link(rel="icon" href="media/favicon.ico" sizes="any")
        meta(name="theme-color" content="#1f1e1e")
        script(src="https://kit.fontawesome.com/8664419f7c.js" crossorigin="anonymous")
        block extrahead
        block styles
            link(rel="stylesheet" href="style.scss")
    body(style="height: 100%;").is-flex.is-flex-direction-column
        block navbar
            // TODO: fix navbar on mobile
            nav.navbar.is-transparent(role="navigation" aria-label="main navigation")
                .navbar-brand.is-justify-content-space-between
                    a.navbar-item.ml-3(href="/" style="margin-right: 1rem;")
                        img(src="media/algologo.svg" alt="Algo Logo" style="scale: 2;")
                    a.navbar-burger.burger.has-text-white(role="button" aria-label="menu" aria-expanded="false" data-target="navMenu")
                        span(aria-hidden="true")
                        span(aria-hidden="true")
                        span(aria-hidden="true")
                #main-navbar.navbar-menu.mx-auto(style="background-color: #1f1e1e;")
                    .navbar-start
                        .buttons
                            a.button.rounded-lg.is-info.navbar-button.mr-2(href="/beta")
                                | Beta Release Info
                            .is-hidden.nav-not-logged-in.mr-2.ml-2
                                a.button.rounded-lg.is-primary.navbar-button(href="/")
                                    | Home
                            #solve-button.is-hidden.nav-logged-in.ml-2
                                a.button.rounded-lg.is-primary.navbar-button(href="/solve")
                                    | Solve!
                    .navbar-end
                        .navbar-item
                            .buttons
                                .navbar-item
                                    a#btn-register-login.button.is-primary.rounded-lg.navbar-button.nav-not-logged-in.is-hidden(href="/login")
                                        | Register - Log In
                                .navbar-item.has-dropdown.is-hoverable
                                    div#btn-profile.navbar-link.has-dropdown.is-arrowless.is-hidden
                                        span#noPhoto.icon.is-large.is-hidden
                                            i.fa-solid.fa-user-circle
                                        span#hasPhoto.is-hidden
                                            img#profile-image(referrerpolicy="no-referrer" style="border: 2px solid white; border-radius: 2rem;" alt="Profile Image")
                                    div#btn-profile-dropdown.navbar-dropdown.is-right.is-boxed
                                        div.navbar-item.no-pointer-events
                                            span#profile-loader.bulma-loader-mixin
                                            | #[p(style="display: block;")#profile-name]
                                        div.navbar-item.no-pointer-events
                                            | #[p(style="font-size: 0.5rem; overflow: hidden; display: inline-block; text-overflow: ellipsis; white-space: nowrap; pointer-events: none;")#profile-email]
                                        hr.navbar-divider
                                        a.navbar-item(href="/profile")
                                            span.icon.is-small
                                                i.fa-solid.fa-user
                                            | Profile
                                        a.navbar-item(href="/statistics")
                                            span.icon.is-small
                                                i.fa-solid.fa-chart-line
                                            | Statistics
                                        hr.navbar-divider
                                        a.navbar-item#btn-logout(href="/")
                                            span.icon.is-small
                                                i.fa-solid.fa-sign-out-alt
                                            | Log Out

        main.is-flex-grow-1
            block content
                // Hello
        footer.footer.is-fixed-bottom(style="margin-top: 1rem;")
            .level(style='text-align: center;')
                .level-left
                    .level-item
                        img(src="media/algologo.svg" alt="Algo Logo" style="height: 100px;")
                .level-right
                    .level-item.has-text-white #[a(href="/about").footer-item About] #[span.mr-2.ml-2 -] #[a(href="https://github.com/IMGROOT2/Algo").footer-item GitHub] #[span.mr-2.ml-2 -] Made by #[a(href="https://github.com/IMGROOT2").footer-item.ml-1 Ruhan Gupta]
        block scripts-footer
            script(type="module" src="js/general.js")
            script(type="module" src="js/navbar.js")
            script.
                const navbar = {
                burger: document.querySelector(".navbar-burger"),
                menu: document.getElementById("main-navbar")
                };
                addEventListener("DOMContentLoaded", () => {
                navbar.burger.addEventListener("click", () => {
                navbar.burger.classList.toggle("is-active");
                navbar.menu.classList.toggle("is-active");
                });
                navbar.menu.addEventListener("click", () => {
                navbar.burger.classList.remove("is-active");
                navbar.menu.classList.remove("is-active");
                });
                });


