@import 'style';

.pageDiv {
  background: #2e3033;
  width: fit-content;
  block-size: fit-content;
  margin-left: auto !important;
  margin-right: auto !important;
}

.message {
  width: fit-content;
  block-size: fit-content;
  background: #353535 !important;
}
