block vars
doctype html
html(lang="en" style="overflow-x: hidden; overflow-y: auto; height: 100%;")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        title #{title || "Home"} - Algo
        meta(property="og:title" content=`${title || "Home"} - Algo`)
        meta(property="og:description" content=`${description || "Algo is a web application that supercharges your training for the USACO by randomly generating problems from past contests."}`)
        meta(property="og:image" content="media/algobanner.png")
        meta(property="og:image:type" content="image/png")
        meta(property="og:image:width" content="1280")
        meta(property="og:image:height" content="640")
        meta(name="description" content=`${description || "Algo is a web application that supercharges your training for the USACO by randomly generating problems from past contests."}`)
        meta(property="og:type" content="website")
        link(rel="icon" href="media/favicon.ico" sizes="any")
        meta(name="theme-color" content="#27272a")
        script(src="https://kit.fontawesome.com/8664419f7c.js" crossorigin="anonymous")
        block extrahead
        block styles
            link(rel="stylesheet" href="style.scss")
    body(style="height: 100%;").is-flex.is-flex-direction-column
        block navbar
            nav.bg-zinc-800
                .mx-auto.max-w-7xl.px-2(class='sm:px-6 lg:px-8')
                    .relative.flex.h-16.items-center.justify-between
                        .absolute.inset-y-0.left-0.flex.items-center(class='sm:hidden')
                            button#mobileMenuButton.inline-flex.items-center.justify-center.rounded-md.p-2.text-gray-400(type='button', aria-controls='mobile-menu', aria-expanded='false')
                                span.sr-only Open main menu
                                span#closed.block.h-6.w-6.mauto.icon
                                    i.fa-solid.fa-bars
                                span#open.h-6.w-6.block.mauto.is-hidden
                                    i.fa-solid.fa-xmark
                        .flex.flex-1.items-center.justify-center(class='sm:items-stretch sm:justify-start')
                            .flex.flex-shrink-0.items-center
                                a(href='/')
                                    img.block.h-8.w-auto.mauto(class='lg:hidden', src='media/algologofull.png', alt='Algo')
                                    img.hidden.h-8.w-auto.mauto(class='lg:block', src='media/algologofull.png', alt='Algo')
                            .hidden.mauto(class='sm:ml-6 sm:block')
                                .flex.space-x-4
                                    a.text-gray-300.rounded-md.px-3.py-2.text-sm.font-medium(href='/', class='hover:bg-gray-700 hover:text-white') Home
                                    a.text-gray-300.rounded-md.px-3.py-2.text-sm.font-medium(href='/beta', class='hover:bg-gray-700 hover:text-white') Beta Release Info
                                    a.text-gray-300.rounded-md.px-3.py-2.text-sm.font-medium(href='/solve', class='hover:bg-gray-700 hover:text-white') Solve
                        .absolute.inset-y-0.right-0.flex.items-center.pr-2(class='sm:static sm:inset-auto sm:ml-6 sm:pr-0')
                            .relative.ml-4
                                span#search.fa-stack
                                    i.fa-solid.fa-circle.fa-stack-2x
                                    i.fa-solid.fa-search.fa-stack-1x.fa-inverse
                            .relative.ml-2
                                div
                                    span#profile-menu-loader(style="height: 1.5rem; width: 1.5rem;").bulma-loader-mixin
                                    a.btn-register-login.text-gray-300.rounded-md.px-3.py-2.text-sm.font-medium.nav-not-logged-in.is-hidden.hidden(href='/login', class='hover:bg-gray-700 hover:text-white sm:block') Register - Log In
                                    button#user-menu-button.flex.rounded-full.bg-gray-800.text-sm(type='button', class='focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800', aria-expanded='false', aria-haspopup='true')
                                        span.sr-only Open user menu
                                        span#noPhoto.icon.is-hidden
                                            i(style="background: transparent; color: white !important;").fa-solid.fa-user-circle.h-8.w-8.rounded-full
                                        span#hasPhoto.is-hidden
                                            img#profile-image(referrerpolicy="no-referrer" alt="Profile Image").h-8.w-8.rounded-full

                                #profileMenu.is-hidden.absolute.right-0.z-10.mt-2.w-48.origin-top-right.rounded-md.py-1.shadow-lg.ring-1.ring-black.ring-opacity-5.text-white(class='focus:outline-none', role='menu', aria-orientation='vertical', aria-labelledby='user-menu-button', tabindex='-1' style="max-width: 175px !important; width: 175px !important; background-color: #2e3033")
                                    div.no-pointer-events.px-4.mt-2
                                        span#profile-loader.bulma-loader-mixin
                                        | #[p(style="display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; pointer-events: none;")#profile-name]
                                    div.no-pointer-events.px-4.mb-3
                                        | #[p(style="font-size: 0.5rem; overflow: hidden; display: block; text-overflow: ellipsis; white-space: nowrap; pointer-events: none;")#profile-email]
                                    a.block.px-4.py-2.text-sm.text-white.mauto(href="/profile" class="hover:bg-gray-600 hover:text-white")
                                        span.icon.is-small.mr-1
                                            i(style="position: relative; top: 2px;").fa-solid.fa-user
                                        | Profile
                                    a.block.px-4.py-2.text-sm.text-white.mauto(href="/statistics" class="hover:bg-gray-600 hover:text-white")
                                        span.icon.is-small.mr-1
                                            i(style="position: relative; top: 2px;").fa-solid.fa-chart-line
                                        | Statistics
                                    a#btn-logout(href="/" class="hover:bg-gray-600 hover:text-white").block.px-4.py-2.text-sm.text-white.mauto
                                        span.icon.is-small.mr-1
                                            i(style="position: relative; top: 2px;").fa-solid.fa-sign-out-alt
                                        | Log Out
                #mobile-menu(class='sm:hidden').space-y-1.px-2.pb-3.pt-2.is-hidden
                    a.text-gray-300.block.rounded-md.px-3.py-2.text-base.font-medium.mauto(href='/', class='hover:bg-gray-700 hover:text-white') Home
                    a.text-gray-300.block.rounded-md.px-3.py-2.text-base.font-medium.mauto(href='/beta', class='hover:bg-gray-700 hover:text-white') Beta Release Info
                    a.text-gray-300.block.rounded-md.px-3.py-2.text-base.font-medium.mauto(href='/solve', class='hover:bg-gray-700 hover:text-white') Solve
                    a.text-gray-300.block.rounded-md.px-3.py-2.text-base.font-medium.mauto.nav-not-logged-in.is-hidden.btn-register-login(href='/login', class='hover:bg-gray-700 hover:text-white') Register - Log In
            .modal#search-modal
                .modal-background.toggle-modal
                .modal-card
                    header.modal-card-head
                        p.has-text-white.modal-card-title Search Problems
                        button.delete.toggle-modal(aria-label='close')
                    section(style="margin-bottom: 0;").modal-card-body
                        .field.has-addons.has-addons-centered
                            .control(style="width: 100%;")
                                input#search-input.input.is-medium.is-fullwidth(type="text", placeholder="Search by ID, name, or division...")
                            .control
                                a#search-in-modal.button.is-medium.is-primary
                                    span.icon.is-small
                                        i.fas.fa-search
                        .menu.mt-4(style="overflow-y: scroll;height: 500px;")
                            ul#algo-search-menu.menu-list

                        button#search-help(style="display: flex;").button.tag.is-small.is-info.is-outlined.subtitle.has-text-white.text-center.is-6.mx-auto.mt-1.mb-0 What's a USACO Problem ID?
        main.is-flex-grow-1
            block content
        footer.footer.is-fixed-bottom(style="margin-top: 0.75rem;")
            .level(style='text-align: center;')
                .level-left
                    .level-item
                        a(href="/")
                            img(src="media/algologofull.png" alt="Algo Logo" style="height: 60px;")
                .level-right
                    .level-item.has-text-white #[a(href="https://github.com/IMGROOT2/Algo" target="_blank" aria-label="Algo GitHub Repository").footer-item #[i.fa-brands.fa-github]] #[span.mr-2.ml-2 &centerdot;] #[a(href="/about").footer-item.page-link About] #[span.mr-2.ml-2 &centerdot;] Made by #[a(href="https://github.com/IMGROOT2" target="_blank").footer-item.ml-1.page-link Ruhan Gupta]
        block scripts-footer
            script(type="module" src="js/general.js")
            script(type="module" src="js/navbar.js")
            script.
                if (location.host === "algo-usaco.web.app") location.host = "algousaco.com";


