@font-face {
  font-family: Poppins-M;
  src: url(../media/Poppins-Medium.ttf);
}
@font-face {
  font-family: Poppins-R;
  src: url(../media/Poppins-Regular.ttf);
}

$primary: #3072D6;
$secondary: #27C877;
$family-primary: Poppins-R;

@import "bulma/sass/base/_all.sass";
@import "bulma/sass/components/_all.sass";
@import "bulma/sass/elements/_all.sass";
@import "bulma/sass/form/_all.sass";
@import "bulma/sass/grid/_all.sass";
@import "bulma/sass/helpers/_all.sass";
@import "bulma/sass/layout/_all.sass";
@import "bulma/sass/utilities/_all.sass";
@tailwind base;
@tailwind components;
@tailwind utilities;





