@import "style";

#dash-title, #dash-subtitle {
  text-align: center;
  margin-top: 3rem;
}
.tasks {
  text-align: center !important;
  margin-left: auto !important;
  margin-right: auto !important;
  background: rgb(193, 51, 193);
  padding: 2rem;
  border-radius: 2rem;
}

.box {
  background: transparent !important;
}
.checkedOff {
  background: -webkit-linear-gradient(#7C2AE8, #CE60EF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}