@import "style";
// Home.scss is the stylesheet for the home page.

.home-adjust {
  text-align: center !important;
}

.landing-title {
  color: white;
  font-size: 4rem;
  font-family: Poppins-M, serif;
}

.landing-title-mobile {
  color: white;
  font-size: 3rem;
  font-family: Poppins-M, serif;
}

.subtitle-box {
  background-color: rgba(255, 255, 255, 0.1);
  margin-left: auto !important;
  margin-right: auto !important;
  color: white;
}

.message {
  width: fit-content;
  block-size: fit-content;
  background: #353535 !important;
  margin-left: auto !important;
  margin-right: auto !important;
}