@import "style.scss";
@import "@creativebulma/bulma-divider/src/sass/index.sass";

.main-card {
  padding: 2rem;
}
.box.column.is-3 {
  margin-left: auto !important;
  margin-right: auto !important;
  background: linear-gradient(-45deg, rgb(133, 64, 155), rgb(69, 23, 128));
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;

}
.login-title {
  margin-top: 5rem !important;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.hero.is-fullheight, .hero-body.has-text-centered {
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: center !important;
}

.login {
  border-radius: 2rem !important;
  background: rgb(104, 41, 125);
}
.level-item.has-text-centered {
  margin-left: 15px !important; margin-right: 15px !important;
}
.divider, .divider-text {
  color: white !important;
  font-family: Poppins-M, serif !important;
}
.signup-with-google-text {
  display:inline !important; color: #303338; text-align: center !important; margin-left: auto !important; margin-right: auto !important;
}