@import "style";

.options {
  //margin-left: auto !important;
  //margin-right: auto !important;
  text-align: center;
  background: #2e3033 !important;
}

hr {
  color: white !important;
  border: 1px solid white;
}

.columns {
  margin: auto !important;
  height: 100%;
}

.problem {
  background: #2e3033 !important;
}

.card.p-2 {
  background: #3b3d41 !important;
}

#recordHelp {
  color: white !important;

  &:hover {
    color: gray !important;
  }
}