@import "style.scss";

.box.is-fullheight-with-navbar {
  height: 100% !important;
  background: #2e3033;
  margin: auto 10%;
}
.card {
  background: #3b3d41;
}

#num-solved {
  color: hsl(141, 71%, 48%);
}
#num-unsolved {
  color: hsl(348, 100%, 61%);
}
#num-skipped {
  color: hsl(48, 100%, 67%);
}
#num-seen {
  color: hsl(204, 86%, 53%);
}