@import "style.scss";

.box.is-fullheight-with-navbar {
  height: 100% !important;
  background: #2e3033;
  margin: auto 10%;
}

.card {
  background: #3b3d41;
}

#num-solved {
  color: hsl(141, 71%, 48%);
}

#num-unsolved {
  color: hsl(348, 100%, 61%);
}

#num-skipped {
  color: hsl(48, 100%, 67%);
}

#num-seen {
  color: hsl(204, 86%, 53%);
}
.columns.is-centered > .column {
    @media screen and (max-width: 1024px) {
      width: 50% !important;
    }
}
#solved-card, #skipped-card, #unsolved-card, #seen-card {
  &:hover {
    background: #3072D6;
  }
}
.column.is-one-quarter > button {
  width: 100%;
}
ul.menu-list > li > a {
  &:hover {
    background-color: #1f1e1e !important;
    color: white !important;
  }
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
  display: block !important;
  overflow: hidden !important;
}
::-webkit-scrollbar-track {
  background-color: #2e3033 !important;
}
input {
  &:hover {
    color: #363636 !important;
  }
}