@import "core.scss";

// Style.scss is the stylesheet for all pages.

body, html {
  background-color: #1f1e1e;
}

.navbar, .footer {
  background-color: transparent !important;
  box-shadow: none;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.footer {
  padding: 3rem 1.5rem 3rem !important;
}

#btn-profile {
  text-decoration: none !important;
  font-size: 2rem;
  background-color: transparent !important;
  color: white !important;

  &:hover {
    text-decoration: none !important;
    background-color: transparent !important;
    color: white !important;
  }
}

#btn-profile-dropdown {
  background-image: linear-gradient(#3072D6, #27C877) !important;
  color: white !important;

  span.icon {
    margin-right: 15px;
  }
}

.makedropvisible {
  display: block !important;
  opacity: 1 !important;
  pointer-events: all !important;
}

.navbar-item {
  color: white !important;

  &:hover {
    color: lightgray !important;
  }
}

.bulma-loader-mixin {
  @include loader;
  margin-left: auto !important;
  margin-right: auto !important;
}

.no-pointer-events {
  pointer-events: none !important;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: #1e1d1d;
}

::-webkit-scrollbar-thumb {
  background-color: #384253;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #62738a;
}

.footer-item:hover {
  color: #3072D6 !important;
}

h4 {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
  font-size: 2rem;
}

pre {
  min-width: 25%;
  max-width: fit-content;
  block-size: fit-content;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  background-color: #515459;
  color: white;
}

.page-link {
  &:hover {
    color: #3072D6 !important;
  }
  text-decoration: underline !important;
  text-decoration-color: #3072D6 !important;
}
.navbar-button {
  margin-left: auto !important;
  margin-right: auto !important;
}
.mauto {
  margin-bottom: auto !important;
}
#user-menu-button ~ #profileMenu {
  --transform-translate-x: 0;
  --transform-translate-y: 0;
  --transform-rotate: 0;
  --transform-skew-x: 0;
  --transform-skew-y: 0;
  --transform-scale-x: 1;
  --transform-scale-y: 1;
  transform: translateX(var(--transform-translate-x)) translateY(var(--transform-translate-y)) rotate(var(--transform-rotate)) skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y)) scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y));
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
  transition-duration: 75ms;
  opacity: 0;
  --transform-scale-x: 0;
  --transform-scale-y: 0;
}

#user-menu-button ~ #profileMenu:focus-within, #user-menu-button:focus ~ #profileMenu {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 100ms;
  opacity: 1;
  --transform-scale-x: 1;
  --transform-scale-y: 1;
}