extends includes/layout.pug
block vars
    - var title = "About";
block styles
    link(rel="stylesheet" href="css/page.scss")

block content
    prepend navbar
    div.column.p-4
        h1.title.has-text-white.is-2.text-center About Algo
        br
        div.box.pageDiv
            p.has-text-white.is-5.subtitle Hey, I'm Ruhan Gupta, the creator of Algo. I'm a student from Austin, Texas and here's a little bit about Algo, the web application designed to supercharge your USACO training.
            br
            p.has-text-white.is-4.title About
            p.has-text-white.is-6.subtitle As more people get into competitive programming and the USACO, there are more resources available to help you get ready for the USACO. However, I felt like there was one piece missing- #[span.has-text-weight-bold practice]. It's important to learn the concepts and techniques, but it's equally, if not more important to practice them. Until Algo was created, there were two options: either randomly clicking on problem from previous contests, or using train.usaco.org. 
            p.has-text-white.is-6.subtitle However, clicking on problems randomly is inefficent and train.usaco.org is extremely outdated (a lot of the website hasn't been significantly updated since the early 2010s). So, I created Algo, to help people practice USACO problems and help them get ready for the USACO.
            p.has-text-white.is-6.subtitle Algo is a web application designed to supercharge your USACO training. It randomly generates problems from past contests, so you can practice them. Algo will process the problems and show it to you in a nice, clean interface. After solving the problem, you can submit your solution to the USACO website to check if your program works.
            br
            p.has-text-white.is-4.title What's next for Algo?
            p.has-text-white.is-6.subtitle The following features will be added in the future:
            .tags
                span.tag.is-info.has-text-white Timer
                span.tag.is-link.has-text-white Advanced Problem Filtering
                span.tag.is-info.has-text-white Light Mode
            br
            p.has-text-white.is-4.title Credits
            p.has-text-white.is-6.subtitle Algo was created by Ruhan Gupta. For the full tech stack and libraries, check the #[a(href="https://github.com/IMGROOT2/Algo").page-link GitHub Repository].
            p.has-text-white.is-6.subtitle.has-text-weight-bold Algo is &copy; 2023 Ruhan Gupta. All rights reserved.
            p.has-text-white.is-6.subtitle USACO problems are retrieved from #[a(href="http://usaco.org").page-link usaco.org].
            p.has-text-white.is-6.subtitle.has-text-weight-bold All USACO Problem credits go to their respective owners. I do not take credit for any of them.



append scripts-footer
    script(type="module" src="./js/about.js")