extends includes/layout.pug
block vars
  - var title = "Home";
block styles
  link(rel="stylesheet" href="css/home.scss")

block content
  div.hero.is-fullheight-with-navbar.home-adjust
    div.is-hidden-touch(style="margin: auto; width: 50%;")
      h1.title.landing-title #[span(style="background: -webkit-linear-gradient(#3072D6, #27C877); -webkit-background-clip: text; -webkit-text-fill-color: transparent;") Fly] from #[span.text-transparent.bg-clip-text.bg-gradient-to-r.from-slate-500.to-gray-700 Bronze]
      h1.title.landing-title to #[span.text-transparent.bg-clip-text.bg-gradient-to-r.from-slate-500.to-gray-700  Platinum] with #[span(style="background: -webkit-linear-gradient(#3072D6, #27C877); -webkit-background-clip: text; -webkit-text-fill-color: transparent;") Algo].
      div.box.is-primary.subtitle-box.column.is-4.is-flex-direction-column.is-flex
        h1.subtitle.has-text-white.is-4 Algo is a USACO problem randomizer that pushes your training to the next level. 🚀
      a(href="/solve")
        button(class="shadow-cyan-500/50 shadow-lg hover:border-white hover:shadow-emerald-500/50").has-text-white.button.is-rounded.bg-transparent.border-2.border-white Start Solving

    div.is-hidden-desktop(style="margin: auto; width: 85%;")
      h1.title.landing-title-mobile #[span(style="background: -webkit-linear-gradient(#3072D6, #27C877); -webkit-background-clip: text; -webkit-text-fill-color: transparent;") Fly] from #[span.text-transparent.bg-clip-text.bg-gradient-to-r.from-slate-500.to-gray-700 Bronze]
      h1.title.landing-title-mobile to #[span.text-transparent.bg-clip-text.bg-gradient-to-r.from-slate-500.to-gray-700 Platinum] with #[span(style="background: -webkit-linear-gradient(#3072D6, #27C877); -webkit-background-clip: text; -webkit-text-fill-color: transparent;") Algo].
      div.box.is-primary.subtitle-box.column.is-4.is-flex-direction-column.is-flex
        h1.subtitle.has-text-white.is-4 Algo is a USACO problem randomizer that pushes your training to the next level. 🚀
      a(href="/solve")
        button(class="shadow-cyan-500/50 shadow-lg hover:border-white hover:shadow-emerald-500/50").has-text-white.button.is-rounded.bg-transparent.border-2.border-white Start Solving

append scripts-footer
  script(type="module" src="./js/general.js")