extends includes/layout.pug
block vars
    - var title = "Home";
block styles
    link(rel="stylesheet" href="css/home.scss")

block content
    // add a tailwind css radial gradient to the background of the page
    div.hero.is-fullheight-with-navbar.home-adjust
        .mx-auto.max-w-2xl(style="margin-top: 50px;")
            .hidden(class='sm:mb-8 sm:flex sm:justify-center')
                .relative.rounded-full.px-3.py-1.text-sm.leading-6.ring-1.text-white.bg-slate-800.m-1(class='hover:ring-blue-500')
                    | 0.1.1: Statistics, Problem Statuses, and more!
                    a.font-semibold.text-blue-700(href="https://github.com/IMGROOT2/algo/releases/tag/v0.1.0" target="_blank" class="hover:text-blue-600")
                        span.ml-1(aria-hidden='true')
                        | View Release
                        span.icon(style="position: relative; top: 2px;")
                            i.fa-solid.fa-arrow-right
        div.is-hidden-touch(style="margin: auto; max-width: 70vw;")
            h1.title.landing-title #[span(style="background: -webkit-linear-gradient(#3072D6, #27C877); -webkit-background-clip: text; -webkit-text-fill-color: transparent;") Fly] from #[span.text-transparent.bg-clip-text.bg-gradient-to-r.from-slate-500.to-gray-700 Bronze] #[br] to #[span.text-transparent.bg-clip-text.bg-gradient-to-r.from-slate-500.to-gray-700 Platinum] with #[img(src="media/algologofull.png" alt="Algo Logo" style="height: 5rem !important; display: inline;")]
            div.box.is-primary.subtitle-box.column.is-7.is-flex-direction-column.is-flex
                h1.subtitle.has-text-white.is-4 Algo is a USACO problem randomizer that pushes your training to the next level.
            a(href="/solve")
                button(class="shadow-cyan-500/50 shadow-lg hover:border-white hover:shadow-emerald-500/50").has-text-white.button.is-rounded.bg-transparent.border-2.border-white Start Solving

        div.is-hidden-desktop(style="margin: auto; width: 85%;")
            h1.title.landing-title-mobile #[span(style="background: -webkit-linear-gradient(#3072D6, #27C877); -webkit-background-clip: text; -webkit-text-fill-color: transparent;") Fly] from #[span.text-transparent.bg-clip-text.bg-gradient-to-r.from-slate-500.to-gray-700 Bronze] #[br] to #[span.text-transparent.bg-clip-text.bg-gradient-to-r.from-slate-500.to-gray-700 Platinum] with #[img(src="media/algologofull.png" alt="Algo Logo" style="height: 4rem !important; display: inline;")]
            div.box.is-primary.subtitle-box.column.is-4.is-flex-direction-column.is-flex
                h1.subtitle.has-text-white.is-4 Algo is a USACO problem randomizer that pushes your training to the next level.
            a(href="/solve")
                button(class="shadow-cyan-500/50 shadow-lg hover:border-white hover:shadow-emerald-500/50").has-text-white.button.is-rounded.bg-transparent.border-2.border-white Start Solving


    div(style="background: #0b1120").hero.is-large.home-adjust
        .py-24(class='sm:py-32')
            h1.title.is-2.has-text-white Statistics
            br
            .mx-auto.max-w-7xl.px-6(class='lg:px-8')
                dl.grid.grid-cols-1.gap-x-8.gap-y-16.text-center(class='lg:grid-cols-3')
                    .mx-auto.flex.max-w-xs.flex-col.gap-y-4
                        dt.text-base.leading-7.text-white Users
                        dd.order-first.text-6xl.font-semibold.tracking-tight #[span(style="background: -webkit-linear-gradient(#3072D6, #27C877); -webkit-background-clip: text; -webkit-text-fill-color: transparent;") 323]
                    .mx-auto.flex.max-w-xs.flex-col.gap-y-4
                        dt.text-base.leading-7.text-white Page Views
                        dd.order-first.text-6xl.font-semibold.tracking-tight #[span(style="background: -webkit-linear-gradient(#3072D6, #27C877); -webkit-background-clip: text; -webkit-text-fill-color: transparent;") 2.9k]
                    .mx-auto.flex.max-w-xs.flex-col.gap-y-4
                        dt.text-base.leading-7.text-white Countries Reached
                        dd.order-first.text-6xl.font-semibold.tracking-tight #[span(style="background: -webkit-linear-gradient(#3072D6, #27C877); -webkit-background-clip: text; -webkit-text-fill-color: transparent;") 22]

append scripts-footer