extends includes/layout.pug
block vars
    - var title = "Login";
block styles
    link(rel="stylesheet" href="css/login.scss")

block content
    prepend navbar
    section#login.hero.is-small
        .hero-body.has-text-centered
            .login.box
                h1.title.has-text-white Log In
                    div
                        .field(style="margin-top: 2rem;")
                            .control
                                input#email-login.input.is-medium.is-rounded(type='email', placeholder='Email Address', autocomplete='username', required='')
                        .field
                            .control
                                input#password-login.input.is-medium.is-rounded(type='password', placeholder='Password', autocomplete='current-password', required='')
                        br
                        button#button-login.button.is-block.is-fullwidth.is-primary.is-medium.is-rounded
                            | Login
                        div.divider
                            span.divider-text
                                | or
                        button#button-auth-button-login.button.is-block.is-fullwidth.is-white.is-medium
                            .level(style="display: flex;")
                                .level-left(style="display: flex;")
                                    img(src="media/googleg.svg", alt="Google Logo", style="height: 80%; margin-right: 10px;")
                                .level-right(style="text-align: center !important; margin-left: auto !important; margin-right: auto !important; margin-top: 0;")
                                    p.signup-with-google-text Sign In with Google
                br
                nav.level
                    .level-item.has-text-centered
                        div
                            button.button.is-small.is-primary.has-text-white.btn-forgot-password Forgot Password?
                    .level-item.has-text-centered
                        div
                            button.button.is-small.is-primary.has-text-white#switchtosignup Create an Account
    section#signup.hero.is-small.is-hidden
        .hero-body.has-text-centered
            .login.box
                h1.title.has-text-white Sign Up
                    div
                        .field(style="margin-top: 2rem;")
                            .control
                                input#name-signup.input.is-medium.is-rounded(type='text', placeholder='Your Name', required='')
                        .field
                            .control
                                input#email-signup.input.is-medium.is-rounded(type='email', placeholder='Email Address', required='')
                        .field
                            .control
                                input#password-signup.input.is-medium.is-rounded(type='password', placeholder='Password', required='')
                        br
                        button#button-signup.button.is-block.is-fullwidth.is-primary.is-medium.is-rounded
                            | Sign Up
                        div.divider
                            span.divider-text
                                | or
                        button#button-auth-button-signup.button.is-block.is-fullwidth.is-white.is-medium
                            .level(style="display: flex;")
                                .level-left(style="display: flex;")
                                    img(src="media/googleg.svg", alt="Google Logo", style="height: 80%; margin-right: 10px;")
                                .level-right(style="text-align: center !important; margin-left: auto !important; margin-right: auto !important; margin-top: 0;")
                                    p.signup-with-google-text Sign Up with Google
                br
                nav.level
                    .level-item.has-text-centered
                        div
                            button.button.is-small.is-primary.has-text-white.btn-forgot-password Forgot Password?
                    .level-item.has-text-centered
                        div
                            button.button.is-small.is-primary.has-text-white#switchtologin Have an Account?
    section#forgot-password.hero.is-small.is-hidden
        .hero-body.has-text-centered
            .login.box
                h1.title.has-text-white Forgot Your Password?
                    div
                        .field(style="margin-top: 2rem;")
                            .control
                                input#email-f-email.input.is-medium.is-rounded(type='email', placeholder='Email Address', required='')
                        br
                        button#button-f-sendEmail.button.is-block.is-fullwidth.is-primary.is-medium.is-rounded
                            | Send Password Reset Email
                br
                nav.level
                    .level-item.has-text-centered
                        div
                            button.button.is-small.is-primary.has-text-white#switchtologinfromfp Return to Login

append scripts-footer
    script(type="module" src="./js/login.js")