extends includes/layout.pug
block vars
    - var title = "Solve";
block styles
    link(rel="stylesheet" href="css/solve.scss")

block content
    prepend navbar
    .modal#recordModal
        .modal-background.toggleModal
        .modal-card
            header.modal-card-head
                p.has-text-white.modal-card-title Recording Problem Statuses
                button.delete.toggleModal(aria-label='close')
            section(style="margin-bottom: 0;").modal-card-body.content
                p.is-5.has-text-white Recording your status on a problem is one of the core features of Algo. It allows you to track of your progress on USACO problems.
                    br
                    ul
                        li.has-text-white Select the Solved button if you have completely solved the problem.
                        li.has-text-white Select the Attempted, Skip button if you have partially solved the problem, or attempted the problem and want to move on.
                        li.has-text-white Select the Unsolved, Skip button if you want to skip the problem without solving or cannot solve the problem.
                p.is-5.has-text-white Check your #[a(href="/statistics").page-link Statistics] by clicking on the profile icon in the top right, and clicking on #[a(href="/statistics").page-link Statistics].
                p.is-5.has-text-white #[span.tag.is-info.is-small.has-text-white COMING SOON!] Eventually, you will be able to view the problems you have responded to, and circle back to them later.
            footer.modal-card-foot
                button.button.is-success.toggleModal Got it


    div.columns
        div.box.is-fullheight-with-navbar.options.column.is-auto.m-4
            div.mb-4
                h1.title.is-4.mb-4.has-text-white Options
                div.card.p-2
                    div.dropdown#diff-dropdown.is-fullwidth
                        div#diff-trigger.dropdown-trigger
                            button(class="button is-fullwidth is-primary" aria-haspopup="true" aria-controls="dropdown-menu").is-fullwidth
                                span#diff-label Difficulty
                                span.icon.is-small
                                    i(class="fas fa-angle-down" aria-hidden="true")
                        div#diff-menu.dropdown-menu(role="menu")
                            div.dropdown-content
                                a.dropdown-item Bronze
                                a.dropdown-item Silver
                                a.dropdown-item Gold
                                a.dropdown-item Platinum
                    br
                    button#generate-button.button.is-medium.is-success.mt-4.has-text-centered New Problem
            div#recordstatus.card.p-2.is-hidden
                p.has-text-white.is-5.subtitle.mb-0 Record Problem Status #[span(style="font-size: 0.7rem;").icon.is-small.toggleModal #[i#recordHelp.fas.fa-question-circle]]
                div.buttons.is-centered.mt-2
                    button#green.button.is-small.is-success.has-text-centered Solved!
                    button#yellow.button.is-small.is-warning.has-text-centered Attempted, skip.
                    button#red.button.is-small.is-danger.has-text-centered Unsolved, skip.


        #problem.box.is-fullheight-with-navbar.problem.column.is-four-fifths.m-4
            .level
                .level-left
                    .level-item
                        div
                            h1.title.has-text-white.is-1#problem-title
                            p(style="margin-top: 0;").subtitle.has-text-gray.is-5#problem-subtitle
                .level-right
                    .level-item
                        a#external-icon(href="#" target="_blank").is-hidden
                            button(style="background: #27C877 !important;").button.is-medium.has-text-white.mr-2 View Problem #[i(style="color: #fff" aria-hidden="true").fa-solid.fa-arrow-up-right-from-square.ml-2]
            div.has-text-white
                span#problem-text
                    div.mt-4.has-text-centered
                        h1.title.has-text-white.is-4.mt-4 Click on the "New Problem" button to generate a problem!
                        p.subtitle.has-text-white.is-5 The problem will show up here.
        #problem-loader.box.is-fullheight-with-navbar.problem.column.is-four-fifths.m-4.is-hidden
            div(style="position: relative; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);").has-text-centered
                span.bulma-loader-mixin


append scripts-footer
    script(type="module" src="js/solve.js")
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/katex.min.css', integrity='sha384-vKruj+a13U8yHIkAyGgK1J3ArTLzrFGBbBc0tDp4ad/EyewESeXE/Iv67Aj8gKZ0', crossorigin='anonymous')
    script(defer='', src='https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/katex.min.js', integrity='sha384-PwRUT/YqbnEjkZO0zZxNqcxACrXe+j766U2amXcgMg5457rve2Y7I6ZJSm2A0mS4', crossorigin='anonymous')
    script(defer='', src='https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/contrib/auto-render.min.js', integrity='sha384-+VBxd3r6XgURycqtZ117nYw44OOcIax56Z4dCRWbxyPt0Koah1uHoK0o4+/RRE05', crossorigin='anonymous')
