extends includes/layout.pug
block vars
    - var title = "Solve";
block styles
    link(rel="stylesheet" href="css/solve.scss")

block content
    prepend navbar
    h1#dash-title.title.has-text-white.mb-1.is-hidden
    h2#dash-subtitle.subtitle.has-text-white.mt-0.is-hidden
    div.columns
        div.box.is-fullheight-with-navbar.options.column.is-auto.m-4
            div.mb-4
                h1.title.is-4.mb-4.has-text-white Options
                div.card.p-2
                    div.dropdown#diff-dropdown.is-fullwidth
                        div#diff-trigger.dropdown-trigger
                            button(class="button is-fullwidth is-primary" aria-haspopup="true" aria-controls="dropdown-menu").is-fullwidth
                                span#diff-label Difficulty
                                span.icon.is-small
                                    i(class="fas fa-angle-down" aria-hidden="true")
                        div#diff-menu.dropdown-menu(role="menu")
                            div.dropdown-content
                                a.dropdown-item Bronze
                                a.dropdown-item Silver
                                a.dropdown-item Gold
                                a.dropdown-item Platinum
                    br
                    button#generate-button.button.is-medium.is-success.mt-4.has-text-centered New Problem
            div.card.p-2
                p.has-text-white.is-5.subtitle.mb-0 Record Problem Status
                div.buttons.is-centered
                    button#green.button.is-small.is-success.mt-4.has-text-centered Solved
                    button#yellow.button.is-small.is-warning.mt-4.has-text-centered Attempted, Skip
                    button#red.button.is-small.is-danger.mt-4.has-text-centered Not Solved, Skip


        #problem.box.is-fullheight-with-navbar.problem.column.is-four-fifths.m-4
            .level
                .level-left
                    .level-item
                        div
                            h1.title.has-text-white.is-1#problem-title
                            p.subtitle.has-text-gray.is-5#problem-subtitle
                .level-right
                    .level-right
                        a#external-icon(href="#").is-hidden
                            button(style="background: #27C877 !important;").button.is-medium.has-text-white.mr-2 View Problem #[i(style="color: #fff" aria-hidden="true").fa-solid.fa-arrow-up-right-from-square.ml-2]
            div.has-text-white
                span#problem-text
                    div.mt-4.has-text-centered
                        h1.title.has-text-white.is-4.mt-4 Click on the "New Problem" button to generate a problem!
                        p.subtitle.has-text-white.is-5 The problem will show up here.
        #problem-loader.box.is-fullheight-with-navbar.problem.column.is-four-fifths.m-4.is-hidden
            div(style="position: relative; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);").has-text-centered
                span.bulma-loader-mixin


append scripts-footer
    script(type="module" src="js/solve.js")
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/katex.min.css', integrity='sha384-vKruj+a13U8yHIkAyGgK1J3ArTLzrFGBbBc0tDp4ad/EyewESeXE/Iv67Aj8gKZ0', crossorigin='anonymous')
    script(defer='', src='https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/katex.min.js', integrity='sha384-PwRUT/YqbnEjkZO0zZxNqcxACrXe+j766U2amXcgMg5457rve2Y7I6ZJSm2A0mS4', crossorigin='anonymous')
    script(defer='', src='https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/contrib/auto-render.min.js', integrity='sha384-+VBxd3r6XgURycqtZ117nYw44OOcIax56Z4dCRWbxyPt0Koah1uHoK0o4+/RRE05', crossorigin='anonymous')
