extends includes/layout.pug
block vars
    - var title = "Statistics";
block styles
    link(rel="stylesheet" href="css/statistics.scss")

block content
    prepend navbar

    .box.is-fullheight-with-navbar.column.m-4
        div.has-text-centered
            h1.title.has-text-white.is-1 Statistics for #[span#name(style="background: -webkit-linear-gradient(#3072D6, #27C877); -webkit-background-clip: text; -webkit-text-fill-color: transparent;") --]
            .columns.is-centered.is-multiline
                .column.is-one-quarter
                    div.card
                        div.card-content
                            p#num-solved.title.has-text-centered --
                            p.subtitle.has-text-centered.has-text-white Solved
                .column.is-one-quarter
                    div.card
                        div.card-content
                            p#num-skipped.title.has-text-centered --
                            p.subtitle.has-text-centered.has-text-white Skipped
                .column.is-one-quarter
                    div.card
                        div.card-content
                            p#num-unsolved.title.has-text-centered --
                            p.subtitle.has-text-centered.has-text-white Unsolved
                .column.is-one-quarter
                    div.card
                        div.card-content
                            p#num-seen.title.has-text-centered --
                            p.subtitle.has-text-centered.has-text-white Seen
            div(style="width: fit-content; margin-left: auto; margin-right: auto; padding: 40px;")
                canvas#chart
                br
            div#showWhenZero.is-hidden(style="margin-left: auto; margin-right: auto;")
                h1.has-text-white.is-3.title No Problems Seen!
                p.has-text-white.is-5.subtitle Go to #[a(href="/solve").page-link Solve] and solve a few problems!

append scripts-footer
    script(type="module" src="js/statistics.js")